body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
}

.navbar {
  background: #3cb371;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.container {
  margin: 30px auto;
  width: 90%;
  max-width: 1000px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.btn {
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn.add {
  background: #3cb371;
  color: white;
}

.btn.update {
  background: #007bff;
  color: white;
}

.btn.edit {
  background: #ff9800;
  color: white;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 5px;
}

.btn.delete {
  background: #e74c3c;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table, th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background: #3cb371;
  color: white;
}
